@using TextGame.Web.Models
@model TextGame.Web.Models.CharacterViewModel
@{
    ViewData["Title"] = "Characters";
}

<h2>index</h2>
<div class="row">
    <div class="col-12 text-right">

        @Html.ActionLink("Character Aanmaken", "Create", "Character", new { @class = "btn btn-dark" })
    </div>
</div>
<div class="form-group">
    @Html.LabelFor(model => model.Characters, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(model => model.character, new SelectList(Model.Characters),
            new { htmlAttributes = new { @class = "form-control " } })
        @Html.ValidationMessageFor(model => model.character, "", new { @class = "text-danger" })
    </div>
</div>
